@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    height: 100%;
}
.contain {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   
}
.images img{
   height: 350px;
   width: 400px;
   border-radius: 15px;
}
.title {
    width: 65vw;
}
.images{
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.titleInfo{
    display: flex;
    height: 30vw;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    
}
.titleInfo h3 {
    font-size: 65px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titleInfo p{
    font-size: 20px;
}
