@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
}
.contain{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 5px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title{
    font-size:20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;
    color: #ffff;
    margin-bottom: 10px;
}
.title h2:after{
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #ffff;
    position: absolute;
    bottom: -3px;
}
.title h2{
    letter-spacing: 5px;
}
.card {
    height: 300px;
    width: 200px;
    background-color: white;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 1px 5px #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 130px;
    width: 130px;
}
h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.list{
    margin: 10px;
    padding-left: 10px;
}
li{
    list-style-type:decimal;
    font-size: 13px;
    margin-bottom: 3px;
}