* {
    margin: 0;
    padding: 0;
}
.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}
.image img{
    height: 600px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}