@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    padding: 10px;
    cursor:pointer
}
.logo {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    margin-top: 5px;
    margin-left: 20px;
    letter-spacing: 3px;
}
.menu {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    width: 380px;
    
}
.menu ul li {
    justify-content: space-between;
    list-style-type: none;
    margin-left: 10px;
    font-size:20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    position:relative;
}
.btn:after{
    content: "";
    position: absolute;
    background-color: blue;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.btn:hover{
    color: blue;
}
.btn:hover:after{
    width: 100%;
}
.btnStarted .link{
    color: white;
    background-color: #000;
    border: none;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 4px;
    text-decoration: none;
}
.arrowRight{
    margin-left: 5px;
    font-size: 18px;
}

.btnStarted :hover{
    background-color: #ffff;
    color: #000;
}
